@import '../../node_modules/normalize.css/normalize.css';

body {
	font-family: 'Nunito', sans-serif;
}

* {
}

section {
	padding: 50px 0;

	.section_header {
		.section_title {
			font-size: 1.7rem;
		    letter-spacing: 1px;
		    font-weight: 600;
		    margin-bottom: 2rem;
		}
	}
}

footer {
	text-align: center;
    margin: 1rem 0;
    letter-spacing: .5px;
}


@import 'home';